name: Reusable Deploy
on: 
  workflow_call:
    inputs:
      artifact-name: 
        description:  Name of dist file
        required: false
        default: dist
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/download-artifact@v3
        with:
          ${{ inputs.artifact-name }}
        
      - name: List files
        run: ls